@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: Be Vietnam Pro, sans-serif;
  color: #f2f2f2;

}

.App {
 background-image: url(../img/background.jpg);
 height: 800px;
}

.Appbg {
 background-color: rgba(0,0,0,.20);
 height: 800px;
}


.App__container {
  max-width: 500px;
  min-height: 50vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.AppOpacity{
  height: 800px;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.45);
}

/* @media only screen and (max-width:575px){ 

  
} */


