.card{
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
}

.cardStyle{
    width: 500px;
    border-style:groove;
    border-color: #31124b;
    margin-top: 13%;
    
}

.signupText{
    
    font-Weight:600px;
    text-Align:center;
    font-Size:20px
}

.CardActions{
    justify-content: center;
}
@media only screen and (max-width: 575px){
 
      .cardStyle{
      margin-top: 48%;
    }
  }