.card{
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
}

.cardStyle{
    width: 500px;
    border-style:groove;
    border-color: #31124b;
    margin-top: 13%;
    
}

.signupText{
    
    font-Weight:600px;
    text-Align:center;
    font-Size:20px
}

.CardActions{
    justify-content: center;
}

.form_submit_button {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 53px;
    padding-left: 29px;
    padding-right: 29px;
    background: #31124b;
    transform: translateY(15px);
    border: none;
    outline: none;
    margin-top: 37px;
    cursor: pointer;
    margin-left: 0px;
}
@media only screen and (max-width: 575px){
 
      .cardStyle{
      margin-top: 48%;
    }
  }