.cardsign{
    padding: 50px;
    padding-top: 90px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: linear-gradient(to right, #fa9d1bda, #8d4fffe0);

}

.cardbg {
  
  background-color: rgba(0,0,0,.9);
 } 
 


.form_submit_button1 {
  font-size: 13px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  line-height: 53px;
  padding-left: 29px;
  padding-right: 29px;
  background: #31124b;
  transform: translateY(15px);
  border: none;
  outline: none;
  margin-top: 37px;
  cursor: pointer;
  margin-left: 167px;
}

.cardStyle{
    width: 500px;
    border-style:groove;
    border-color: rgba(0, 0, 0, 0.74);
}

.signupText{
    
    font-Weight:600px;
    text-Align:center;
    font-Size:20px;
    color: linear-gradient(to right, #fa9e1b, #8d4fff);
}

.CardActions{
    justify-content: center;
}
.form-text{
    color: red;
    font-weight: bold;
    margin-left: 20PX;
    
}
.parent-div {
    display: inline-block;
    position: relative;
    overflow: hidden;
  }
  .parent-div input[type=file] {
    left: 0;
    top: 0;
    opacity: 0;
    position: absolute;
    font-size: 90px;
  }
  .btn-upload {
    background: linear-gradient(to right, #fa9e1b, #8d4fff);
    border: 2px solid #000;
    color: #000;
    padding: 10px 25px;
    border-radius: 4px;
    font-size: 20px;
    width: 427px;
    margin-left: 18px;

  }


  .form_submit_button4 {
    font-size: 13px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    line-height: 53px;
    padding-left: 29px;
    padding-right: 29px;
    background: #31124b;
    transform: translateY(15px);
    border: none;
    outline: none;
    margin-top: 37px;
    cursor: pointer;
    margin-right: 0 !important;
    display: block !important;
    margin-left: 175px !important;
}
  .form_submit_button:hover
  {
    opacity: 0.8;
  }
  .button
  {
    /* display: inline-block; */
    height: 53px;
    border-radius: 27px;
    overflow: hidden;
    z-index: 1;
    display: grid;
  }

  @media only screen and (max-width: 575px){
    .form_submit_button1{
      margin-left: 80px;
    }

    .btn-upload {
      /* margin-left: 15px; */
        /* width: 100%; */
    width: 237px;

      }
      .cardStyle{
      margin-top: 400px;
    }
    .form_submit_button4 {
      margin-left: 90px !important;

    }
  }

 